#!name=OpenAI分流
#!desc=对OpenAI相关服务进行分流，分流选择支持OpenAI的地区
#!author=xfxme
#!homepage=https://github.com/xfxme/ss
#!icon=https://raw.githubusercontent.com/fmz200/wool_scripts/main/icons/author/NaiSi_01.png
#!raw-url=https://github.com/fmz200/wool_scripts/raw/main/QuantumultX/filter/AI.snippet
#!date：2024-12-22 12:56:23
#############################################

host, cdn.auth0.com, AI
HOST, challenges.cloudflare.com,AI
host, openaiapi-site.azureedge.net, AI
DOMAIN-SUFFIX,khanacademy.org,proxy
DOMAIN-SUFFIX,mojie.live,proxy
DOMAIN-SUFFIX,adtidy.org,proxy
DOMAIN-SUFFIX,printfab.net,proxy
DOMAIN-SUFFIX,rou.video,proxy
DOMAIN-SUFFIX,lululu.one,proxy
DOMAIN-SUFFIX,maki-math.com,proxy
DOMAIN-SUFFIX,zh.zlibrary-ng.se,proxy
DOMAIN-SUFFIX,pilotmoon.com,proxy
DOMAIN-SUFFIX,r3.o.lencr.org,proxy
DOMAIN-SUFFIX,zoom.us,proxy
DOMAIN-SUFFIX,nrzr.li,proxy
DOMAIN-SUFFIX,ek21.com,proxy
DOMAIN-SUFFIX,ssrdog.dog,proxy
DOMAIN-SUFFIX,godog03.com,proxy
DOMAIN-SUFFIX,ssrdog111.com,proxy
DOMAIN-SUFFIX,1lib.sk,proxy
DOMAIN-SUFFIX,voachinese.com,proxy
DOMAIN-SUFFIX,pincong.rocks,proxy
DOMAIN-SUFFIX,insighttimer-api.net,proxy
DOMAIN-SUFFIX,myqnapcloud.cn,direct
DOMAIN-SUFFIX,mycloudnas.com,direct
DOMAIN-SUFFIX,ohmygpt.com,proxy
DOMAIN-SUFFIX,godly.website,proxy
DOMAIN-SUFFIX,gemini.google.com,AI
DOMAIN-SUFFIX,vtwocloud.xyz,proxy
DOMAIN-SUFFIX,bitcoin.org,proxy
DOMAIN-SUFFIX,binance.com,proxy
DOMAIN-SUFFIX,mojie,proxy
DOMAIN-SUFFIX,sspai.com,direct
DOMAIN-SUFFIX,zh.annas-archive.gs,proxy
DOMAIN-SUFFIX,jsdelivr.net,direct
DOMAIN-SUFFIX,icloud-content.com,direct
DOMAIN-SUFFIX,me.com,direct
DOMAIN-SUFFIX,discourse.devontechnologies.com,Proxy
DOMAIN-SUFFIX,nssurge.com,AI
DOMAIN-SUFFIX,gemini.com,AI
DOMAIN-SUFFIX,gemini.google.com,AI
DOMAIN-SUFFIX,one.google.com,AI
DOMAIN-SUFFIX,notebooklm.google,AI
DOMAIN-SUFFIX,notebooklm.google.com,AI
DOMAIN-SUFFIX,me.com,DIRECT
DOMAIN-SUFFIX,icloud-content.com,DIRECT
DOMAIN-SUFFIX,jsdelivr.net,DIRECT
DOMAIN-SUFFIX,zh.annas-archive.gs,proxy
DOMAIN-SUFFIX,annas-archive.gs,proxy
DOMAIN-SUFFIX,bajie.la,proxy
DOMAIN-SUFFIX,bajie.ca,proxy
DOMAIN-SUFFIX,24hbook.com,proxy
DOMAIN-SUFFIX,flypy.cc,proxy
DOMAIN-SUFFIX,excalidraw.com,proxy
DOMAIN-SUFFIX,livegore.com,proxy
# AI
DOMAIN-SUFFIX,claude.ai,claude
DOMAIN-SUFFIX,claudeusercontent.com,claude
DOMAIN-KEYWORD,claude,claude
DOMAIN-KEYWORD,perplexity,claude
DOMAIN-KEYWORD,pplx,claude
DOMAIN-SUFFIX,perplexity.com,claude
DOMAIN-SUFFIX,pplx.ai,claude
DOMAIN-SUFFIX,perplexity.ai,claude
DOMAIN-SUFFIX,anthropic.com,claude
DOMAIN-KEYWORD,anthropic,claude
DOMAIN,cdn.auth0.com,AI
DOMAIN,challenges.cloudflare.com,AI
DOMAIN,openaiapi-site.azureedge.net,AI
DOMAIN-SUFFIX,chatgpt.com,AI
DOMAIN-SUFFIX,ai.com,AI
DOMAIN-SUFFIX,intercom.io,AI
DOMAIN-SUFFIX,openai.com,AI
DOMAIN-SUFFIX,identrust.com,AI
DOMAIN-SUFFIX,oaistatic.com,AI
DOMAIN-SUFFIX,oaiusercontent.com,AI
DOMAIN-KEYWORD,openai,AI
DOMAIN-KEYWORD,alkalimakersuite-pa.clients6.google.com,AI
DOMAIN-SUFFIX,vimeo.com,AI
DOMAIN-SUFFIX,vimeocdn.com,AI
DOMAIN-SUFFIX,hcaptcha.com,AI
DOMAIN-SUFFIX,akamaized.com,AI
DOMAIN-SUFFIX,x.ai,AI
DOMAIN-SUFFIX,dify.ai,AI
DOMAIN-SUFFIX,meta.ai,AI
DOMAIN-SUFFIX,jasper.ai,AI
DOMAIN-SUFFIX,openart.ai,AI
DOMAIN-SUFFIX,clipdrop.co,AI
DOMAIN,ai.google.dev,AI
DOMAIN,makersuite.google.com,AI
DOMAIN-SUFFIX,bard.google.com,AI
DOMAIN-SUFFIX,deepmind.com,AI
DOMAIN-SUFFIX,deepmind.google,AI
DOMAIN-SUFFIX,gemini.google.com,AI
DOMAIN-SUFFIX,generativeai.google,AI
DOMAIN-SUFFIX,proactivebackend-pa.googleapis.com,AI
DOMAIN,ai.google.dev,AI
DOMAIN,alkalicore-pa.clients6.google.com,AI
DOMAIN,gateway.ai.cloudflare.com,AI
DOMAIN-SUFFIX,apis.google.com,AI
DOMAIN-KEYWORD,colab,AI
DOMAIN-KEYWORD,developerprofiles,AI
DOMAIN-KEYWORD,generativelanguage,AI
DOMAIN-SUFFIX,chat.com,AI
DOMAIN-SUFFIX,groq.com,AI
DOMAIN-SUFFIX,sora.com,AI
DOMAIN-SUFFIX,deepmind.com,AI
DOMAIN-SUFFIX,anthropic.com,AI
DOMAIN-SUFFIX,oaistatic.com,AI
DOMAIN-SUFFIX,notebooklm.google,AI
DOMAIN-SUFFIX,generativeai.google,AI
DOMAIN,api.github.com,AI

DOMAIN-SUFFIX,22youtube.com,YOUTUBE
DOMAIN-SUFFIX,6youtube.com,YOUTUBE
DOMAIN-SUFFIX,www.youtubexyoutube.com,YOUTUBE
DOMAIN-SUFFIX,bannedyoutube.com,YOUTUBE
DOMAIN-SUFFIX,youtube.at,YOUTUBE
DOMAIN-SUFFIX,www.youtube.cl,YOUTUBE
DOMAIN-SUFFIX,9youtube.com,YOUTUBE
DOMAIN-SUFFIX,youtube.co.jp,YOUTUBE
DOMAIN-SUFFIX,youtube-aiff.com,YOUTUBE
DOMAIN-SUFFIX,nyoutube.com,YOUTUBE
DOMAIN-SUFFIX,findyoutube.com,YOUTUBE
DOMAIN-SUFFIX,www.youtube.co.kr,YOUTUBE
DOMAIN-SUFFIX,YOUTUBE.com,YOUTUBE
DOMAIN-SUFFIX,worldyoutube.com,YOUTUBE
DOMAIN-SUFFIX,freeyoutube.net,YOUTUBE
DOMAIN-SUFFIX,ohayoutube.com,YOUTUBE
DOMAIN-SUFFIX,13youtube.com,YOUTUBE
DOMAIN-SUFFIX,atyoutube.com,YOUTUBE
DOMAIN-SUFFIX,www.youtube.co.in,YOUTUBE
DOMAIN-SUFFIX,www.autohdforyoutube.com,YOUTUBE
DOMAIN-SUFFIX,proxy-youtube.net,YOUTUBE
DOMAIN-SUFFIX,youtube.com.tw,YOUTUBE
DOMAIN-SUFFIX,filmyoutube.com,YOUTUBE
DOMAIN-SUFFIX,19youtube.com,YOUTUBE
DOMAIN-SUFFIX,www.youtubee.com,YOUTUBE
DOMAIN-SUFFIX,sadyoutube.com,YOUTUBE
DOMAIN-SUFFIX,loveyoutube.com,YOUTUBE
DOMAIN-SUFFIX,findyoutube.net,YOUTUBE
DOMAIN-SUFFIX,unblockyoutube.com,YOUTUBE
DOMAIN-SUFFIX,youtube.ca,YOUTUBE
DOMAIN-SUFFIX,videoyoutube.com,YOUTUBE
DOMAIN-SUFFIX,dmyoutube.com,YOUTUBE
DOMAIN-SUFFIX,youtube-nocookie.com,YOUTUBE
DOMAIN-SUFFIX,listentoyoutube.com,YOUTUBE
DOMAIN-SUFFIX,youtube.com.hk,YOUTUBE
DOMAIN-SUFFIX,officialyoutube.com,YOUTUBE
DOMAIN-SUFFIX,antiyoutube.com,YOUTUBE
DOMAIN-SUFFIX,www.lataayoutube.com,YOUTUBE
DOMAIN-SUFFIX,mobileyoutube.com,YOUTUBE
DOMAIN-SUFFIX,www.youtube.com.my,YOUTUBE
DOMAIN-SUFFIX,withyoutube.com,YOUTUBE
DOMAIN-SUFFIX,okyoutube.com,YOUTUBE
DOMAIN-SUFFIX,kyoutube.com,YOUTUBE
DOMAIN-SUFFIX,youtube2mp3.net,YOUTUBE
DOMAIN-SUFFIX,ayoutube.com,YOUTUBE
DOMAIN-SUFFIX,youtube.de,YOUTUBE
DOMAIN-SUFFIX,youtube.fr,YOUTUBE
DOMAIN-SUFFIX,youtubeeducation.com,YOUTUBE
DOMAIN-SUFFIX,18youtube.com,YOUTUBE
DOMAIN-SUFFIX,singyoutube.com,YOUTUBE
DOMAIN-SUFFIX,fyoutube.com,YOUTUBE
DOMAIN-SUFFIX,www.youtubetheater.com,YOUTUBE
DOMAIN-SUFFIX,www.unblockyoutube.co.uk,YOUTUBE
DOMAIN-SUFFIX,cyoutube.com,YOUTUBE
DOMAIN-SUFFIX,youtube-to-mp3.org,YOUTUBE
DOMAIN-SUFFIX,helloyoutube.com,YOUTUBE
DOMAIN-SUFFIX,unblockyoutube.co,YOUTUBE
DOMAIN-SUFFIX,youtubemp3.scriptscraft.com,YOUTUBE
DOMAIN-SUFFIX,hyoutube.com,YOUTUBE
DOMAIN-SUFFIX,www.youtube.iq,YOUTUBE
DOMAIN-SUFFIX,hackyoutube.com,YOUTUBE
DOMAIN-SUFFIX,saveyoutube.com,YOUTUBE
DOMAIN-SUFFIX,viyoutube.com,YOUTUBE
DOMAIN-SUFFIX,4youtube.com,YOUTUBE
DOMAIN-SUFFIX,tvyoutube.com,YOUTUBE
DOMAIN-SUFFIX,download-youtube.com,YOUTUBE
DOMAIN-SUFFIX,youtube.pl,YOUTUBE
DOMAIN-SUFFIX,convertisseur-youtube.com,YOUTUBE
DOMAIN-SUFFIX,getyoutube.com,YOUTUBE
DOMAIN-SUFFIX,www.youtube.be,YOUTUBE
DOMAIN-SUFFIX,pwnyoutube.com,YOUTUBE
DOMAIN-SUFFIX,www.youtubeunblocked.live,YOUTUBE
DOMAIN-SUFFIX,youtubeunblocked.com,YOUTUBE
DOMAIN-SUFFIX,youyoutube.com,YOUTUBE
DOMAIN-SUFFIX,googlevideo.com,YOUTUBE
DOMAIN-SUFFIX,myoutube.com,YOUTUBE
DOMAIN-SUFFIX,www.youtube.com.au,YOUTUBE
DOMAIN-SUFFIX,2youtube.com,YOUTUBE
DOMAIN-SUFFIX,www.findyoutube.net,YOUTUBE
DOMAIN-SUFFIX,youtube.it,YOUTUBE
DOMAIN-SUFFIX,byoutube.com,YOUTUBE
DOMAIN-SUFFIX,localyoutube.com,YOUTUBE
DOMAIN-SUFFIX,likeyoutube.com,YOUTUBE
DOMAIN-SUFFIX,15youtube.com,YOUTUBE
DOMAIN-SUFFIX,www.freeyoutubeproxy.org,YOUTUBE
DOMAIN-SUFFIX,youtubeproxy.org,YOUTUBE
DOMAIN-SUFFIX,pornyoutube.com,YOUTUBE
DOMAIN-SUFFIX,www.youtube.com.sg,YOUTUBE
DOMAIN-SUFFIX,youtube.ru,YOUTUBE
DOMAIN-SUFFIX,checkyoutube.com,YOUTUBE
DOMAIN-SUFFIX,offyoutube.com,YOUTUBE
DOMAIN-SUFFIX,happyyoutube.com,YOUTUBE
DOMAIN-SUFFIX,goyoutube.com,YOUTUBE
DOMAIN-SUFFIX,unblockyoutube.us,YOUTUBE
DOMAIN-SUFFIX,addyoutube.com,YOUTUBE
DOMAIN-SUFFIX,uryoutube.com,YOUTUBE
DOMAIN-SUFFIX,5youtube.com,YOUTUBE
DOMAIN-SUFFIX,youtube.ch,YOUTUBE
DOMAIN-SUFFIX,ssyoutube.com,YOUTUBE
DOMAIN-SUFFIX,nsfwyoutube.com,YOUTUBE
DOMAIN-SUFFIX,youtubegaming.com,YOUTUBE
DOMAIN-SUFFIX,onyoutube.com,YOUTUBE
DOMAIN-SUFFIX,yahooyoutube.com,YOUTUBE
DOMAIN-SUFFIX,youtubekids.com,YOUTUBE
DOMAIN-SUFFIX,youtubelike.com,YOUTUBE
DOMAIN-SUFFIX,viewyoutube.net,YOUTUBE
DOMAIN-SUFFIX,www.youtube.co.id,YOUTUBE
DOMAIN-SUFFIX,eyoutube.com,YOUTUBE
DOMAIN-SUFFIX,ww10.sonyyoutube.com,YOUTUBE
DOMAIN-SUFFIX,arabs-youtube.com,YOUTUBE
DOMAIN-SUFFIX,youtubepp.com,YOUTUBE
DOMAIN-SUFFIX,www.linkyoutube.com,YOUTUBE
DOMAIN-SUFFIX,betteryoutube.com,YOUTUBE
DOMAIN-SUFFIX,lyoutube.com,YOUTUBE
DOMAIN-SUFFIX,oneyoutube.com,YOUTUBE
DOMAIN-SUFFIX,www.youtube.co.za,YOUTUBE
DOMAIN-SUFFIX,toyoutube.com,YOUTUBE
DOMAIN-SUFFIX,youtubetool.com,YOUTUBE
DOMAIN-SUFFIX,musicyoutube.com,YOUTUBE
DOMAIN-SUFFIX,www.youtube.co.uk,YOUTUBE
DOMAIN-SUFFIX,theyoutube.com,YOUTUBE
DOMAIN-SUFFIX,youtube.076.ne.jp,YOUTUBE
DOMAIN-SUFFIX,11youtube.com,YOUTUBE
DOMAIN-SUFFIX,googleyoutube.com,YOUTUBE
DOMAIN-SUFFIX,youtube.ie,YOUTUBE
DOMAIN-SUFFIX,safeyoutube.com,YOUTUBE
DOMAIN-SUFFIX,loginyoutube.com,YOUTUBE
DOMAIN-SUFFIX,onlineyoutube.com,YOUTUBE
DOMAIN-SUFFIX,www.youtube.nl,YOUTUBE
DOMAIN-SUFFIX,youtube.com,YOUTUBE
DOMAIN-SUFFIX,iwillteachYOUTUBErich.com,Proxy
DOMAIN-SUFFIX,12youtube.com,YOUTUBE
DOMAIN-SUFFIX,youtube.com.br,YOUTUBE
DOMAIN-SUFFIX,3youtube.com,YOUTUBE
DOMAIN-SUFFIX,downyoutube.com,YOUTUBE
DOMAIN-SUFFIX,8youtube.com,YOUTUBE
DOMAIN-SUFFIX,dlyoutube.com,YOUTUBE
DOMAIN-SUFFIX,servicesdirectory.withyoutube.com,YOUTUBE
DOMAIN-SUFFIX,youtube.hk,YOUTUBE
DOMAIN-SUFFIX,youtubecn.com,YOUTUBE
DOMAIN-SUFFIX,youtube.jp,YOUTUBE
DOMAIN-SUFFIX,bulkyoutube.com,YOUTUBE
DOMAIN-SUFFIX,youtube.es,YOUTUBE
DOMAIN-SUFFIX,chatyoutube.com,YOUTUBE
DOMAIN-SUFFIX,myyoutube.com,YOUTUBE
DOMAIN-SUFFIX,whyyoutube.com,YOUTUBE
DOMAIN-SUFFIX,321youtube.com,YOUTUBE
DOMAIN-SUFFIX,youtubefreeproxy.com,YOUTUBE
DOMAIN-SUFFIX,notyoutube.com,YOUTUBE
DOMAIN-SUFFIX,freeyoutubeproxy.net,YOUTUBE
